In [2]:
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import learning_curve
import matplotlib.pyplot as plot
from sklearn.metrics import precision_recall_curve
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, Normalizer, scale
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as  np

In [3]:
data = pd.read_csv('output.csv')
data

            ID  item_id  item_cnt_month
0            0     5037               2
1            1     5320               0
2            2     5233               2
3            3     5232               2
4            4     5268               0
5            5     5039               2
6            6     5041               2
7            7     5046               2
8            8     5319               2
9            9     5003               0
10          10     4806               3
11          11     4843               2
12          12     4607               2
13          13     4869               2
14          14     4870               2
15          15     4872               6
16          16     4874               0
17          17     4678               2
18          18     4892               2
19          19     4964               2
20          20     4717               2
21          21     5002               0
22          22     5823               2
23          23     5814               2
24          24     5900               3
25          25     5907               0
26          26     5908               0
27          27     5643               2
28          28     5657               2
29          29     5675               7
...        ...      ...             ...
214170  214170    14543               0
214171  214171    19253               2
214172  214172    17957               2
214173  214173    12470               0
214174  214174     7543               2
214175  214175     6661               2
214176  214176    11137               0
214177  214177    11489               2
214178  214178     9782               2
214179  214179     2972               2
214180  214180    19889               2
214181  214181    20650               2
214182  214182     5665               2
214183  214183     9978               0
214184  214184    10767               0
214185  214185    14443               2
214186  214186    14341               0
214187  214187     5401               2
214188  214188     9500               0
214189  214189    16007               0
214190  214190     3280               2
214191  214191     4393               2
214192  214192     4352               2
214193  214193    18049               2
214194  214194    18027               0
214195  214195    18454               2
214196  214196    16188               0
214197  214197    15757               2
214198  214198    19648               0
214199  214199      969               2

[214200 rows x 3 columns]

In [4]:
newdata = data.head(15)

In [5]:
df = pd.DataFrame({
    'id' : newdata['ID'],
    'itemId' : newdata['item_id'],
    'itemCntMonth' : newdata['item_cnt_month']
    
})

In [6]:
head(data, 10)

NameError: name 'head' is not defined

In [7]:
import os
from sklearn.externals import joblib
from flask import Flask, jsonify, request

In [8]:
data = df.to_json(orient='records')

In [10]:
df.to_csv('table.csv', index=False)